:root {
  --branding-color: #c6e5df;
  --secondary-color: #c6b2c1;
  --text-color: #223843;
  --title-font-family: "Playfair Display", serif;
  --description-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--description-font-family);
}

.hero {
  background-color: var(--branding-color);
  padding: 100px 20px;
  text-align: center;
}

h1 {
  color: var(--text-color);
  font-family: var(--title-font-family);
  font-size: 96px;
}

h2 {
  color: var(--text-color);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

h3 {
  color: var(--text-color);
  font-size: 24px;
  line-height: 2;
}

.btn-branding {
  border-radius: 4px;
  background-color: var(--secondary-color);
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.btn-branding-outline {
  border: 2px solid var(--secondary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.project-one,
.project-two,
.project-three {
  padding: 120px 60px;
}

.project-title {
  font-family: var(--title-font-family);
  font-size: 48px;
}

.project-description {
  font-size: 16px;
  line-height: 1.7;
  opacity: 0.8;
}

.project-btn {
  display: block;
}

@media (max-width: 800px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  .hero {
    padding: 50px 20px;
  }

  .project-one,
  .project-two,
  .project-three {
    padding: 50px 50px;
  }

  .project-title {
    font-size: 36px;
  }
}
