:root {
  --branding-color: #c6e5df;
  --secondary-color: #c6b2c1;
  --text-color: #223843;
  --title-font-family: "Playfair Display", serif;
  --description-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--description-font-family);
}

/* Home Page */

.homepage-hero {
  background-color: var(--branding-color);
  padding: 100px 20px;
  text-align: center;
}

h1 {
  color: var(--text-color);
  font-family: var(--title-font-family);
  font-size: 96px;
}

h2 {
  color: var(--text-color);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

h3 {
  color: var(--text-color);
  font-size: 24px;
  line-height: 2;
}

h4 {
  color: var(--text-color);
  font-family: var(--title-font-family);
  font-size: 34px;
}

.recent-projects {
  font-size: 36px;
}

.highlight {
  border-radius: 1em 0 1em 0;
  background-image: linear-gradient(
    109.6deg,
    rgb(247, 213, 217) 20.2%,
    rgb(251, 227, 229) 68.2%,
    rgb(255, 247, 247) 99.2%
  );
  padding: 10px;
}

.homepage-grid {
  margin-top: 100px;
}

.btn-branding {
  border-radius: 4px;
  background-color: var(--secondary-color);
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.btn-branding:hover {
  color: var(--text-color);
  transition: all 200ms ease-in-out;
}

.btn-branding-outline {
  border: 2px solid var(--secondary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.btn-branding-outline:hover {
  color: #223843a5;
  transition: all 200ms ease-in-out;
}

.project-one,
.project-two,
.project-three {
  padding: 50px 60px;
}

.project-title {
  font-family: var(--title-font-family);
  font-size: 48px;
}

.project-description {
  font-size: 16px;
  line-height: 1.7;
  opacity: 0.8;
}

.strikethrough {
  text-decoration: line-through;
}

.coded-by {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  margin-top: 30px;
  text-align: center;
}

.about-hero {
  padding: 30px 50px;
}

.about-hero-content {
  margin-top: 75px;
}

.about-hero h1 {
  font-size: 48px;
  line-height: 80px;
}

.about-hero h3 {
  font-size: 18px;
  font-weight: bold;
}

.about-hero p {
  line-height: 30px;
}

.about-image {
  padding: 60px;
}

/* Projects Page */

.page {
  padding: 60px 30px 30px 30px;
}

.header {
  font-size: 36px;
  line-height: 80px;
}

.projects-image {
  display: block;
  margin: 0 auto;
  max-width: 90%;
}

.project-label {
  font-size: 24px;
  margin: 20px 0 10px 0;
}

/* Contact Page */

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--text-color);
  opacity: 0.7;
  transition: all 200ms ease-in-out;
}

.icons {
  display: flex;
  justify-content: center;
}

h3 i {
  color: var(--secondary-color);
  margin: 0px 30px;
}

.github-icon {
  margin-left: -77px;
}

.linkedin-icon {
  margin-left: -4px;
}

.email-label {
  padding: 10px 0;
}

.github-label {
  padding: 10px 0;
}

.linkedin-label {
  padding: 10px 0;
}

/* Navigation Bar */

.nav-bar {
  padding: 10px 5px;
}

nav {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.homepage-nav-bar {
  background-color: var(--branding-color);
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  line-height: 30px;
  padding: 0 20px;
}

nav li.active a {
  font-weight: bold;
}

/* Footer */

footer {
  margin-top: 50px;
}

.homepage-footer {
  margin-top: 150px;
}

.contact-footer {
  margin-top: 0px;
}

footer .contact-box {
  background-color: var(--branding-color);
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 30px 225px;
}

footer .btn {
  margin-top: 15px;
}

i {
  color: var(--secondary-color);
  margin: 30px 10px;
}

.footer-link {
  color: var(--secondary-color);
  text-decoration: underline;
}

/* Media Query */

@media (max-width: 1023px) {
  h1 {
    font-size: 28px !important;
    line-height: 1.5;
    text-align: center;
  }

  h2 {
    font-size: 28px;
    text-align: center !important;
  }

  h3 {
    font-size: 20px;
    text-align: center;
  }

  .homepage-hero {
    padding: 75px 20px;
  }

  .recent-projects {
    font-size: 24px;
  }

  .homepage-grid {
    margin-top: 50px;
  }

  .homepage-footer {
    margin-top: 60px;
  }

  .projects-footer {
    margin-top: 0;
  }

  .row {
    margin: 20px;
  }

  .project-one,
  .project-two,
  .project-three {
    padding: 15px 10px;
  }

  .project-title {
    font-size: 28px;
  }

  .project-btn {
    display: block;
  }

  .preview {
    display: none;
  }

  .about-hero {
    padding: 10px 10px;
  }

  .about-hero-content {
    margin-top: 10px;
  }

  .about-image {
    padding: 15px;
  }

  .projects-image {
    margin: 10px auto;
  }

  .project-label,
  .project-description {
    text-align: center;
  }

  .nav-name {
    display: none;
  }

  nav ul {
    justify-content: center;
  }

  nav li {
    font-size: 12px;
  }

  .contact-box {
    display: none !important;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-icon {
    margin: 0;
    text-align: start !important;
  }

  .contact-label {
    font-size: 12px;
    margin-top: 5px;
    text-align: start !important;
  }

  .coded-by {
    font-size: 10px;
    padding: 8px;
  }
}
